{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "proseWrap": "preserve",
    "trailingComma": "es5",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",

    "htmlWhitespaceSensitivity": "css",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "singleAttributePerLine": false,
    "requirePragma": false,
    "insertPragma": false,
    "vueIndentScriptAndStyle": false,
    "embeddedLanguageFormatting": "auto",

    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 80,
                "tabWidth": 4,
                "bracketSpacing": true
            }
        },
        {
            "files": "*.{html,yml,yaml,scss}",
            "options": {
                "printWidth": 120,
                "tabWidth": 4
            }
        },
        {
            "files": "*.{md,markdown}",
            "options": {
                "printWidth": 200,
                "tabWidth": 4,
                "useTabs": true
            }
        },
        {
            "files": "*.{js,ts,jsx,tsx}",
            "options": {
                "printWidth": 120,
                "tabWidth": 2,
                "trailingComma": "none",
                "parser": "typescript"
            }
        },
        {
            "files": "*.workspace",
            "options": {
                "parser": "json",
                "tabWidth": 4
            }
        },
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json",
                "tabWidth": 4
            }
        }
    ],
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-multiline-arrays",
        "prettier-plugin-organize-imports"
    ],

    "organizeImportsSkipDestructiveCodeActions": true,
    "multilineArraysWrapThreshold": 5
}
