@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 40, 40, 43; /* #28282B Matte Black */
    --background-start-rgb: 229, 228, 226; /* #E5E4E2 Platinum */
    --background-end-rgb: 250, 249, 246; /* #FAF9F6 Off White */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 250, 249, 246; /* #FAF9F6 Off White */
        --background-start-rgb: 40, 40, 43; /* #28282B Matte Black */
        --background-end-rgb: 14, 12, 10; /* #0E0C0A Metal */
    }
}

body {
    font-family: var(--font-inter), var(--font-pretendard), sans-serif;
    font-weight: 500;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
        rgb(var(--background-start-rgb));
}

h1 {
    font-size: 5rem;
    font-weight: 900;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
